<form [formGroup]="carForm">
  <label>
    Make:
    <input type="text" formControlName="make" />
  </label>
  <label>
    Model:
    <input type="text" formControlName="model" />
  </label>
  <label>
    Year:
    <input type="number" formControlName="year" />
  </label>
  <label>
    Color:
    <input type="text" formControlName="color" />
  </label>
  <label>
    Price:
    <input type="number" formControlName="price" />
  </label>
  <button (click)="doSubmitCar()">
    {{buttonText}}
  </button>
</form>