<table>
  <thead>
    <tr>
      <th><a href="#" (click)="doSort('id')">Id</a></th>
      <th><a href="#" (click)="doSort('make')">Make</a></th>
      <th><a href="#" (click)="doSort('model')">Model</a></th>
      <th><a href="#" (click)="doSort('year')">Year</a></th>
      <th><a href="#" (click)="doSort('color')">Color</a></th>
      <th><a href="#" (click)="doSort('price')">Price</a></th>
    </tr>
  </thead>
  <tbody>
    <tr class="app-car-view-row" *ngFor="let car of sortedCars"
      [car]="car" (deleteCar)="deleteCar.emit($event)"></tr>
  </tbody>
</table>