<!-- <app-color-home></app-color-home>
<app-car-home></app-car-home> -->
<!-- <app-typeahead-demo></app-typeahead-demo> -->
<!-- <app-counter-container></app-counter-container> -->
<!-- <app-trackby-demo></app-trackby-demo> -->

<!-- <app-tool-header>
  <div>
    <h1>App Tool</h1>
    <h2>The Awesome App!</h2>
  </div>
</app-tool-header> -->

<!-- <accordian>
  <accordian-item>
    Content 1
  </accordian-item>
  <accordian-item>
    Content 2
  </accordian-item>
</accordian> -->

<!-- <app-page-layout>
  <div id="page-header">
    <h1>The Tool</h1>
  </div>
  <div id="page-header">
    <h1>Test</h1>
  </div>
  <div class="page-content">
    Here is some content!
  </div>
  <div class="page-footer">
    A Cool Company
  </div>
</app-page-layout> -->

<app-contact-form></app-contact-form>